<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/loginstyle/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginstyle/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/loginstyle/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        @RenderBody()
    </div>

    <!--===============================================================================================-->
    <script src="~/loginstyle/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginstyle/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginstyle/vendor/bootstrap/js/popper.js"></script>
    <script src="~/loginstyle/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginstyle/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginstyle/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/loginstyle/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginstyle/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/loginstyle/js/main.js"></script>

</body>
</html>